<head>
  <title>GPS</title>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1W_0avqN7NlDyZi4F3EeyDkY1SD4e5Bc">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>
</body>