/* CSS declarations go here */
body {
	height: 100%;
	margin: 0;
	padding: 0;
  text-align: center;
  background-color: grey;
}
#wrapper {
	height: 100%;
	width: 100%;
	background-color: #666666;
}
#login {
	position: absolute;
	background-color: #1B1C1D;
	width: 300px;
  height: 214px;
	padding: 15px;
	margin: auto;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
#login label {
	color: white;
}
#map {
	position: absolute;
	height: 100%;
	width: 100%;
}
#menu {
	background-color: #1B1C1D;
	width: 100%;
	min-width: 320px;
	position: fixed;
	z-index: 1;
}
#menu a {
	cursor: pointer;
	display: inline-block;
	float: left;
	padding: 4px;
	color: white;
}
#menu .usern {
	cursor: default;
}
#appear {
	position: fixed;
	width: 100px;
	z-index: 1;
	bottom: 0;
	left: 0;
	border-radius: 0;
}
#changePass {
	position: absolute;
	background-color: #1B1C1D;
	text-align: center;
	width: 300px;
	padding: 10px;
	margin-top: 30px;
	margin-left: 10px;
	z-index: 1;
}
#changePass h3 {
	color: red;
}
#changePass label{
	color: white;
}
.cpInvisible {
	display: none;
	visibility: hidden;
}
#excel {
	position: absolute;
	background-color: #1B1C1D;
	text-align: center;
	width: 300px;
	padding: 10px;
	margin-top: 30px;
	margin-left: 10px;
	z-index: 1;
}
#excel h3 {
	color: red;
}
#side {
	position: fixed;
	background-color: #1B1C1D;
	width: 160px;
	height: 100%;
	margin-top: 27px;
	left: 0;
	z-index: 1;
}
#side h4 {
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}
#side a:hover {
	background-color: #333333;
}
#adminMenu {
	background-color: #1B1C1D;
	width: 100%;
	padding: 4px;
}
#left {
	float: left;
}
#center {
	margin: auto;
}
#adminMenu a {
	color: white;
	background-color: #333333;
}
.ap {
	background-color: #1B1C1D;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 300px;
	padding: 15px;
	margin-top: 10px;
}
.ap .ui .dropdown {
  margin-bottom: 10px;
}
.ap h3 {
	color: red;
}
#registerUser label, #editCar label, #registerCar label, #excel label, #editUserInfo label, #addGroup label, #editGroup label {
	color: white;
}
#side ul {
	list-style: none;
	color: white;
	width: 100%;
	text-align: left;
}
#side li {
	cursor: pointer;
}
#side ul input {
	position: relative;
	cursor: pointer;
	right: 20px;
	top: 2px;
}
#side li:hover {
	background-color: #333333;
}
#dim {
	position: fixed;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
}
#grid {
	background-color: #1B1C1D;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 15px;
	margin-top: 10px;
}
#grid h3 {
	color: red;
}
#divider {
	display: block;
}
#adminWrapper {
  min-width: 320px;
  max-width: 1000px;
  background-color: #303030;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1000px){
	#menu a {
		float: none;
	}
	#side {
		margin-top: 0;
	}
}
@media screen and (max-width: 504px){
  .hideLocation {
    display: none;
  }
}
@media screen and (max-width: 404px){
  .hide {
    display: none;
  }
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px;
}

.react-datepicker__navigation {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 6px solid transparent;
}
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}
.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc;
}
.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc;
}
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc;
}
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__week-day {
  color: #ccc;
  display: inline-block;
  width: 28px;
  line-height: 24px;
}

.react-datepicker__month {
  margin: 5px;
  text-align: center;
}

.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
}
.react-datepicker__day:hover {
  border-radius: 4px;
  background-color: #f0f0f0;
}
.react-datepicker__day--today {
  font-weight: bold;
}
.react-datepicker__day--selected, .react-datepicker__day--in-range {
  border-radius: 4px;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc;
}
.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__input-container {
  position: relative;
}

.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.react-datepicker__year-read-view:hover {
  cursor: pointer;
}
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #ccc;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: 6px;
}
.react-datepicker__year-read-view--selected-year {
  right: 6px;
  position: relative;
}

.react-datepicker__year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}
.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__year-option:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.react-datepicker__year-option:hover {
  background-color: #ccc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px;
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.react-datepicker__tether-element {
  z-index: 2147483647;
}
